html{
  margin-top: 0;
  margin-right: 5%;
  margin-left: 5%;
}

/* header{
  text-align: center;
} */

#logo{
  width: 10.7em;
  z-index: 1;
  float: left;
  margin-left: 0;
}

nav{
  border-bottom: 1px solid black;
  font-family: 'Martel Sans', sans-serif;
  background-color: white;
  padding: 1em;
  padding-bottom: 0;
  
}

nav ul {
  list-style-type: none;
  margin-top: 0;
  
}

nav li {
  display: inline-block;
  padding: 1em 2em 0 2em;
  color: black;
}

#micuenta{
  text-align: right;
  
}

#menu{
  text-align: right;
}

#micuenta li{
  padding: 0 1em 0 1em; 
}

#menu li{
  padding: 0 1em 0 1em;
  
}

#acervo{
  background-color: black;
  color: white;

}

li #acervo{
  padding-top: 1em;
  padding-bottom: 1em;
}

body{
margin-left: 5%;
margin-right: 5%;
}

section{
  border: 1px solid transparent;
  width: 420px;
  height: 370px;
  display: inline-block;
  overflow: scroll;
  margin-left: 30px;
  margin-bottom: 1em;
  vertical-align: 1.8em;
  text-align: left;
}

#anuncios li{
  display: inline;
}

#anuncio{

  position: absolute; 
  left: 40%;
  top: 90%;
  right: 0%;
  margin-left: 0%;
  float: right;
  
}

#anuncio img{

  width: 30%;
  display: block;
  margin-right: 0%;
  
  
  
}


#videoteca{
  margin: 0.5em 0 0.5em;
  font-size: 1em;
  font-family: 'Archivo Black', sans-serif;
}

#titulo{
  margin-top: 1em;
}

#titvideo{
  border-top: solid 1.5px;
  border-bottom: solid 1.5px;
  padding: 0 0 0 0;
}

h2{
  font-size: 2em;
  text-align: right;
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Archivo Black', sans-serif;

}
 #arte img{
   /* display: block; */
   margin-top: 3em;
   width: 20%;
   
   
 }
  #arte{
    position: left;
  }


img {
  width: 30%;
  position: left;
}

#film{
  width: 30%;
}

#videos{
  display: inline-block;
}

.wrapper{
  padding: 4em;
  display: grid;

}

div {
  padding: 2em 0 2em 0;
  text-align: center;
}

#a {

  width: 480px;
  height: 72px;
  display: inline-block;
  border: 0.5px solid black;
}

#b {
  width: 480px;
  height: 150px;
  border: solid 1px black;
}




